@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Plus+Jakarta+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Roboto&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border-color: aliceblue;
}

header {
    background-color: #D5E5F5;
}

.cabecera {
    display: flex;
    align-items: center;
    padding: 1% 0% 2%;
    justify-content: space-around;
    flex-wrap: wrap;
}

nav a {
    text-decoration: none;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-size: 120%;
    color: #00214D;
}

nav li {
    display: inline;
}

[href="../index.html"]{
    color: #3781E3;
}

h1 {
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.1em;
}

nav ul {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 40px;
    flex-wrap: wrap;
}

.agendar_cita {
    display: flex;
    flex-wrap: wrap;
    background-color: #D5E5F5;
    justify-content: space-around;
}

.agendar_cita img {
    border-radius: 30px;
    padding: 40px 0px;
}

.datos_cita {
    font-family: 'Plus Jakarta Sans';
    /* line-height: 250%; */
    align-self: center;
    width: 40%;
    font-size: 110%;
    flex-basis: max-content;
    /* Agenda tu cita */
    /* font-weight: 700; */
    font-size: 40px;
    line-height: 150%;
    /* or 96px */
    letter-spacing: 0.1em;
    /* Text */
    color: #00214D;
}

.datos_alimento h3 {
    text-align: center;
}
/*
.subtitulo1 {
    text-decoration: line-through;
    color: #FFFFFF;
    margin-bottom: 20px;
}
*/
.subtitulo {
    /*border-style: dotted;*/
    display: flex;
    /* justify-content: space-evenly; */
    background: #00214D;
    border-radius: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 42px;
    color: #FFFFFF;
    margin: 20px 0px;
    padding: 10px;
}
.calendario {
    font-family: 'Roboto';
    background: #00214D;
}

.textarea {
    margin-top: 4%;
    margin-bottom: 7%;
    background-color: #D5E5F5;
    border: 1px solid #626868;
    border-radius: 6px;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 13px;
}

/*
.opciones{
    display:flex;
    gap:1px;
}
*/
/*
button {
    margin: 2%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    border-color: aliceblue;
    cursor: pointer;
    margin: 0px 20px;
}
*/
select {
    width: 50%;
    margin-left: 20px;
}

.boton-cita {
    cursor: pointer;
    margin: 20px;

    padding: 20px 13px;
    background: #00214D;
    border-radius: 20px;
    font-family: 'Plus Jakarta Sans';
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    border-color: #00214D;
    border-width: 2px;
    border-style: solid;
    justify-self: end;
    margin-top: 40px;
}

button:hover{
    background-color: darkcyan;
    border: darkcyan 2px solid;
    color: white;
}